.idea/
target/
dist/
project/boot/
project/plugins/project/
project/plugins/src_managed/
*.log
*.tmproj
lib_managed/
*.swp
*.iml
out/
.ensime
*~
*#
.#*
.ivyjars
.idea
.DS_Store

THE_FOLLOWING_IS_FOR_THE_NATIVE_PACKAGE
*.so
*.so.*
*.l
*.la
*.o
*#
*~
autom4te.cache/
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
libtool