finagle-native/lib/finaglenative.jar
target/
dist/
project/boot/
project/plugins/project/
project/plugins/src_managed/
*.log
*.tmproj
lib_managed/
*.swp
*.iml
out/
.ensime
*~
*#
.#*
.ivyjars
.idea
.DS_Store
sbt-launch-0.7.5.jar
sbt-launch.jar
*.pyc
